{% extends 'base.html.twig' %}

{% block title %}
  Créer une nouvelle réservation | {{ parent() }}
{% endblock %}

{% block body %}
  <h1 class="h1-small">Enregistrer une nouvelle réservation</h1>

  {{ include('reservation/_form.html.twig') }}
{% endblock %}
