{% extends 'base.html.twig' %}

{% block title %}nouvelle réservation{% endblock %}

{% block body %}
    <h1 class="h1-small">Enregistrer une nouvelle réservation</h1>

    {{ include('reservation/_form.html.twig') }}

{% endblock %}
