@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Ovo&family=Proza+Libre:ital,wght@0,400;0,700;1,400&display=swap");
@import url("./reset.css");
@font-face {
    font-family: "Tostada-Regular";
    src: url("../fonts/Tostada-Regular.ttf.woff") format("woff"),
        url("../fonts/Tostada-Regular.ttf.svg#Tostada-Regular") format("svg"), url("../fonts/Tostada-Regular.ttf.eot"),
        url("../fonts/Tostada-Regular.ttf.eot?#iefix") format("embedded-opentype");
    font-weight: normal;
    font-style: normal;
}

/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
:root {
    --color-primary: 65, 150, 159;
    --color-secondary: 244, 234, 230;
    --color-tertiary: 229, 128, 133;
    --color-primary-dark: 46, 80, 96;
    --color-dark: 33, 37, 41;
    --color-light: 252, 252, 252;

    --navbar-height: 64px;
}

html {
    height: 100%;
    font-size: 14px;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: "Proza Libre", Helvetica, Arial, sans-serif;
    font-weight: 500;
    line-height: 1.6;
    color: rgb(var(--color-dark));
    background-color: rgb(var(--color-light));
}

img {
    max-width: 100%;
}

button,
.btn {
    cursor: pointer;
    padding: 8px;
    font-family: inherit;
    font-size: 0.8rem;
    color: rgb(var(--color-light));
    border: none;
    border-radius: 3px;
    background-color: rgb(var(--color-primary));
    transition-duration: 0.3s;
}

button:hover,
.btn:hover {
    color: rgb(var(--color-light));
    background-color: rgb(var(--color-primary-dark));
}

button:disabled,
button[disabled],
button:disabled:hover,
button[disabled]:hover {
    cursor: not-allowed;
    background-color: rgba(var(--color-primary-dark), 0.7);
}

button[class="btn-danger"],
.btn[class="btn-danger"] {
    background-color: rgb(var(--color-tertiary));
}

/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */
input[type="email"],
input[type="date"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
    height: 38px;
    padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
    background-color: rgb(var(--color-light));
    border: 1px solid rgb(var(--color-primary-dark));
    border-radius: 4px;
    box-shadow: none;
    box-sizing: border-box;
}
/* Removes awkward default styles on some inputs for iOS */
input[type="email"],
input[type="date"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
textarea {
    min-height: 65px;
    padding-top: 6px;
    padding-bottom: 6px;
}
input[type="email"]:focus,
input[type="date"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
    border: 1px solid rgb(var(--color-primary));
    outline: 2px solid rgba(var(--color-primary), 0.7);
}
label,
legend {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 600;
}
fieldset {
    padding: 0;
    border-width: 0;
}
input[type="checkbox"],
input[type="radio"] {
    display: inline;
}
label > .label-body {
    display: inline-block;
    margin-left: 0.5rem;
    font-weight: normal;
}

/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Ovo", Helvetica, Arial, sans-serif;
    color: rgb(var(--color-primary-dark));
    margin-bottom: 1.2rem;
    font-weight: 700;
}
h1 {
    font-family: "Bree Serif", Helvetica, Arial, sans-serif;
    font-size: 2.5rem;
    word-spacing: 0.5rem;
    letter-spacing: 0.2rem;
}

h2 {
    font-size: 2rem;
}

h3,
h4,
h5,
h6 {
    font-size: 1.8rem;
}

/* Links
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
    color: rgb(var(--color-primary));
    text-decoration: none;
    transition-duration: 0.2s;
}
a:hover {
    color: rgb(var(--color-primary-dark));
}

/* Tables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
table {
    width: 100%;
    margin: 2rem auto;
    border-collapse: collapse;
}
th,
td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid rgba(var(--color-primary-dark), 0.6);
}

/* flash
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.flash {
    position: relative;
    z-index: 0;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    animation-name: animate-flash;
    animation-duration: 0.5s;
    animation-delay: 1s;
}

.flash-success {
    border-color: rgb(var(--color-primary));
    background-color: rgba(var(--color-primary), 0.7);
}

.flash-error {
    border-color: rgb(var(--color-tertiary));
    background-color: rgba(var(--color-tertiary), 0.7);
}

.flash .closebtn {
    cursor: pointer;
    margin-left: 15px;
    float: right;
    font-size: 22px;
    font-weight: bold;
    line-height: 20px;
    color: rgb(var(--color-light));
    transition: 0.3s;
}

.flash .closebtn:hover {
    color: rgb(var(--color-dark));
}

/* Layout
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.container {
    max-width: 1200px;
    padding-left: 1.4rem;
    padding-right: 1.4rem;
    margin-left: auto;
    margin-right: auto;
}

/* Navbar
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
.navbar {
    position: sticky;
    z-index: 10;
    top: 0;
    height: var(--navbar-height);
    background-color: rgb(var(--color-dark));
    box-shadow: 0 2px 4px rgba(var(--color-dark), 0.15);
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}

.home-link,
.navbar-link {
    transition: color 0.3s ease-in-out;
    text-decoration: none;
    display: flex;
    font-weight: 400;
    align-items: center;
    color: rgb(var(--color-light));
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.home-link {
    font-family: "Tostada-Regular";
    font-size: 1.4rem;
}

.home-link:focus,
.home-link:hover {
    color: rgb(var(--color-primary));
}

.navbar-link {
    justify-content: center;
    width: 100%;
    padding: 0.4em 0.8em;
    border-radius: 5px;
}

.is-active .navbar-link,
.navbar-link:focus,
.navbar-link:hover {
    color: rgb(var(--color-primary));
    background-color: rgba(var(--color-dark), 0.75);
}

.navbar-logo {
    width: 32px;
    height: 32px;
    margin-right: 1em;
}

.navbar-toggle {
    cursor: pointer;
    border: none;
    background-color: transparent;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.icon-bar {
    display: block;
    width: 25px;
    height: 4px;
    margin: 2px;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    background-color: rgb(var(--color-light));
}

.navbar.opened .navbar-toggle .icon-bar:first-child,
.navbar.opened .navbar-toggle .icon-bar:last-child {
    position: absolute;
    margin: 0;
    width: 30px;
}

.navbar.opened .navbar-toggle .icon-bar:first-child {
    transform: rotate(45deg);
}

.navbar.opened .navbar-toggle .icon-bar:nth-child(2) {
    opacity: 0;
}

.navbar.opened .navbar-toggle .icon-bar:last-child {
    transform: rotate(-45deg);
}

.navbar-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: var(--navbar-height);
    right: 0;
    left: 0;
    max-height: 0;
    margin: 1rem;
    overflow: hidden;
    list-style-type: none;
    white-space: nowrap;
    border-radius: 5px;
    background-color: rgb(var(--color-dark));
    box-shadow: 0 0 20px rgba(var(--color-dark), 0.3);
    transition: 0.2s ease-out;
}

.navbar.opened .navbar-links {
    max-height: none;
    padding: 1em;
}

.navbar-item {
    width: 100%;
    margin: 0.4em;
}

/* Main
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
.main-container {
    flex: 1 0 auto;
    margin-top: 30px;
}

/* Establishments
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
.establishment {
    margin-bottom: 30px;
}

.establishment-title a {
    color: rgb(var(--color-primary-dark));
}
.establishment-title h2 {
    line-height: 0.8em;
}

.establishment-title a:hover {
    color: rgb(var(--color-primary));
}

.establishment-title span {
    font-size: 0.6em;
    white-space: nowrap;
    line-height: 0.8em;
}

.establishment-content {
    display: flex;
    flex-direction: column;
}

.establishment-img {
    width: 100%;
    margin-bottom: 15px;
}

.establishment-img img {
    width: 100%;
    box-shadow: 2px 2px 15px 2px rgba(var(--color-dark), 0.7);
}

.establishment-description {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.establishment-description p {
    margin: 0 15px 15px;
}

.establishment-adress {
    margin: 10px;
    text-align: center;
}

.establishment-adress div {
    display: inline;
    margin: 10px;
}

.room-resa {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    margin-top: 10px;
}

/* Rooms
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
.room {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.room-img {
    width: 100%;
    margin-bottom: 15px;
}

.room-img img {
    width: 100%;
    box-shadow: 2px 2px 15px 2px rgba(var(--color-dark), 0.7);
}

.room-description {
    margin: 10px 5px;
}

.room-link {
    margin: 5px 0;
}

.room-galerie,
.room-galerie-imgs {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

/* reservation and login
  –––––––––––––––––––––––––––––––––––––––––––––––––– */

.h1-small {
    font-size: 1.5rem;
    text-align: center;
    width: 100%;
}

.form,
.form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.form {
    gap: 30px;
}

.form-group label em {
    font-size: 0.7rem;
    margin-left: 0.5rem;
}

.form-group input,
.form-group select {
    width: 300px;
    max-width: 100%;
}

.form-group li,
.form-error {
    color: rgb(var(--color-tertiary));
}

.form-error {
    min-height: 25px;
}

.link-register {
    text-align: center;
    width: 100%;
}

.reservation-table-empty td {
    text-align: center;
}

/* Account
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
.account-logout {
    font-size: 1rem;
}

/* Contact
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
.form-group textarea {
    width: 300px;
    height: 200px;
    max-width: 100%;
}

/* Footer
  –––––––––––––––––––––––––––––––––––––––––––––––––– */

.footer {
    flex-shrink: 0;
    width: 100%;
    margin-top: 30px;
    padding: 1rem;
    text-align: center;
    color: rgb(var(--color-light));
    background-color: rgb(var(--color-dark));
}

/* Media Queries
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
@media (max-width: 650px) {
    .reservation-table thead {
        display: none;
    }

    .reservation-table tr {
        display: block;
        margin-bottom: 40px;
    }

    .reservation-table td {
        display: block;
        text-align: right;
    }

    .reservation-table td:last-child {
        border: none;
    }

    .reservation-table td:before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
    }

    .reservation-table-empty td {
        text-align: center;
    }
}

@media (min-width: 576px) {
    html {
        font-size: 16px;
    }

    .establishment-content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .establishment-img,
    .room-img {
        width: 300px;
        flex-shrink: 0;
        margin-bottom: 15px;
    }

    .room {
        display: flex;
        flex-direction: row;
    }

    .room-info {
        margin-left: 30px;
    }

    .room-galerie-imgs {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        gap: 20px;
        margin: 20px;
    }

    .room-galerie-imgs .room-img {
        width: 400px;
    }
}

@media screen and (min-width: 768px) {
    .navbar-toggle {
        display: none;
    }

    .navbar-links,
    .navbar.opened .navbar-links {
        flex-direction: row;
        max-height: max-content;
        position: static;
        margin: 0;
        padding: 0;
        box-shadow: none;
        width: auto;
    }

    .room-resa {
        justify-content: flex-start;
        gap: 15px;
        margin-top: 15px;
    }
}
